<div class="fondo d-flex justify-content-center">
  <div class="card contenedor-actualizar-contrasena">
    <div class="card-header">
      <div class="logo-aliados-flamingo">
        <img class="img-fluid" src="assets/img/logo-novafianza.svg" alt="logo-flamingo-aliados">
      </div>
    </div>
    <div class="card-body">
      <div>
        <h2 class="fs-16px fw-bolder text-left">Actualice su contraseña</h2>
      </div>
      <div>
        <h2 class="fs-14px">Ha ingresado con una contraseña temporal. Por seguridad debe actualizar su contraseña.</h2>
        <h2 class="fs-14px fw-semibold"> La contraseña nueva debe contener como mínimo:</h2>
      </div>
      <div class="container grid text-center">
        <div class="row">
          <div class="col">
            <img class="img-fluid" src="assets/img/check.svg" alt="">
            <label class="etiquetas"> 8 caracteres</label>
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/img/check.svg" alt="">
            <label class="etiquetas">1 Minúscula</label>
          </div>
            <div class="col">
            <img class="img-fluid" src="assets/img/check.svg" alt="">
            <label class="etiquetas">1 Mayúscula</label>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img class="img-fluid" src="assets/img/check.svg" alt="">
            <label class="etiquetas">1 Número</label>
          </div>
            <div class="col-5">
            <img class="img-fluid" src="assets/img/check.svg" alt="">
            <label class="etiquetas">1 Carácter especial</label>
          </div>
        </div>
      </div>
      <form class="w-100" [formGroup]="this.formulario">
        <fieldset class="mb-4 mt-2">
          <label class="fs-12px fw-bold mb-2" for="antigua_contrasena">Antigua contraseña</label>
          <input class="form-control" type="password" name="antigua_contrasena" formControlName="antigua_contrasena" required>
          <span class="validacion" *ngIf="this.formulario.controls['antigua_contrasena'].errors &&
          this.formulario.controls['antigua_contrasena'].dirty && this.formulario.controls['antigua_contrasena'].errors['required']">
            Ingrese su antigua contraseña
        </span>
        </fieldset>
        <fieldset class="mb-4">
          <label class="fs-12px fw-bold mb-2" for="nueva_contrasena">Nueva contraseña</label>
          <input class="form-control" type="password" name="nueva_contrasena" formControlName="nueva_contrasena" required>
          <span class="validacion" *ngIf="this.formulario.controls['nueva_contrasena'].errors &&
          this.formulario.controls['nueva_contrasena'].dirty && this.formulario.controls['nueva_contrasena'].errors['required']">
            Ingrese una contraseña
        </span>
        <span class="validacion" *ngIf="this.formulario.controls['nueva_contrasena'].errors &&
        this.formulario.controls['nueva_contrasena'].dirty && this.formulario.controls['nueva_contrasena'].errors['pattern']">
          La contraseña no es valida
      </span>
        </fieldset>
        <fieldset class="mb-4">
          <label class="fs-12px fw-bold mb-2" for="confirmmar_contrasena">Confirmar contraseña</label>
          <input class="form-control" type="password" name="confirmmar_contrasena" formControlName="confirmmar_contrasena" required>
          <span class="validacion" *ngIf="this.formulario.controls['confirmmar_contrasena'].errors &&
          this.formulario.controls['confirmmar_contrasena'].dirty && this.formulario.controls['confirmmar_contrasena'].errors['required']">
          Confirme su contraseña
        </span>
        </fieldset>
        <fieldset>
          <button type="button" class="boton primario relleno w-100" (click)="this.actualizarContrasena()">Actualizar contraseña</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<app-popup #popup></app-popup>
