.fondo{
    background: linear-gradient(to right, #17427A, #0096D8);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.contenedor-inicio-sesion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 610px;
    height: fit-content;
    margin-top: 50px;
}
.contenedor-inicio-sesion .card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding: 0 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.logo-aliados-flamingo{
    width: 425px;
    min-width: 240px;
    margin-bottom: 20px;
}