#menu-lateral{
}
.contenido{
    position: relative;
    padding-top: var(--alto-barra-navegacion);
    padding-left: var(--ancho-menu-lateral);
}
.seccion{
    padding: 0 !important;
}

@media (max-width: 1024px) {
    .contenido{
        padding-left: 0px;
    }
}