<div class="container-fluid fondo d-flex justify-content-center">
  <div>
    <div class="mt-4 row">
      <div class="col d-flex align-items-center">
        <label type="button" class="fs-16px atras" (click)="botonRetroceder()">
          < Atrás</label>
      </div>
        <div class="mt-4 mb-5 d-flex justify-content-center col-10">
          <img src="assets/img/warning.svg" class="img-fluid" style="margin-right:10px;">
          <label class="fs-16px fw-semibold text-center titulo">Verifica los detalles y escoge la forma de pago</label>
        </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="card detalles">
          <div class="card-header">
            <label class="fs-16px fw-semibold card-header-label">Detalles</label>
          </div>
          <div class="card-body">
            <label class="fs-16px mb-2"><b>Número de cédula/ referencia:</b> <br/>{{this.referencia}}</label>
            <label class="fs-16px"><b>Monto a pagar:</b> <br/>${{this.valor}}</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card escoger">
          <div class="card-header">
            <label class="fs-16px fw-semibold card-header-label">Escoge tu forma de pago</label>
          </div>
          <div class="list-group">

            <form action="https://checkout.wompi.co/p/" method="GET" ngNoForm>
              <!-- OBLIGATORIOS -->
              <input type="hidden" name="public-key" id="public-key" value="{{this.llavePublica}}" />
              <input type="hidden" name="currency" value="{{this.moneda}}" />
              <input type="hidden" name="amount-in-cents" value="{{this.valorCentavos}}" />
              <input type="hidden" name="reference" value="{{this.referencia}}" />
              <!-- OPCIONALES -->
              <input type="hidden" name="redirect-url" value="{{this.urlRedireccion}}" />
              <input type="hidden" name="customer-data:email" value="{{this.correo}}" />
              <input type="hidden" name="customer-data:phone-number" value="{{this.telefono}}" />
              <input type="hidden" name="customer-data:legal-id" value="{{this.identificacion}}" />
              <input type="hidden" name="customer-data:legal-id-type" value="{{this.tipoDocumento}}" />
              <button type="button" type="submit"  class="list-group-item list-group-item-action fs-16px">
                <div class="row fila-boton-wompi">
                  <div class="d-flex col-3"><img src="assets/img/tarjeta-credito.svg" class="img-fluid"> <img src="assets/img/pse-logo.svg" class="img-fluid"> <img src="assets/img/bancolombia-logo.svg" class="img-fluid"></div>
                  <div class="col" id="boton-wompi">Pagar con Wompi
                  </div>
                </div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
