.requisitos{
  margin-left: 5px;
  color: #4B4B4B;
}

#selector{
  width: 150px;
}

#telefono{
  margin-left: 5px;
  width: 100%;
}

#extension{
  margin-left: 5px;
}

.ext{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.col-sm-12 .img-fluid:first-child{
  margin-left: 2px;
}

.col-sm-12 .parametros{
  margin-left: 50px;
}

.card-footer button{
  margin-top:5px;
  margin-bottom:5px;

}

@media screen and (max-width:576px){
  .columna-correo{
    margin-bottom:10px;
  }
}



