<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title fs-14px  fw-bolder">Asociar servicios</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" *ngIf="empresa">
        <div class="row mb-3">
            <div class="col">
                <label class="fw-semibold fs-12px">Nombre de la entidad</label>
                <input class="form-control input" disabled [value]="empresa.nombre">
            </div>
        </div>
        <div class="row">
            <app-alerta [tipo]="'informacion'" class="mb-3">
                Seleccione los servicios que desea activar para esta entidad.
            </app-alerta>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label class="fw-semibold fs-12px">Asociar servicios</label>
                <app-input-busqueda (AlEscribir)="this.filtrar($event)"></app-input-busqueda>
            </div>
        </div>
        <div class="row mb-2">
            <div class="d-flex">
                <div class="ms-auto">
                    <label class="d-flex align-items-center">
                        <input type="checkbox" class="me-2">
                        <span class="fs-12px fw-semibold">Seleccionar todos</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="container-table d-flex table-responsive">
                    <table class="table table-striped fs-12px">
                        <thead>
                            <tr>
                                <th scope="col">ID Servicio</th>
                                <th scope="col">Nombre del servicio</th>
                                <th scope="col">Documento adjunto</th>
                                <th scope="col">Acciones<br />
                                    <label class="acciones me-2">Ver</label>
                                    <label class="acciones me-2">Adjuntar</label>
                                    <label class="acciones me-2">Activar</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let archivo of archivosFiltrados; let index = index">
                                <td>{{ archivo.id }}</td>
                                <td>{{ archivo.nombre }}</td>
                                <td>{{ manejarNombreArchivoActual(archivo.id) }} </td>
                                <td class="d-flex flex-gap-20">
                                    <!-- ver -->
                                    <img class="cursor-pointer" draggable="false" src="./assets/img/ver.svg"
                                    alt="ver" (click)="this.abrirModalVisualizar(manejarNombreArchivoActual(archivo.id))">
                                    <!-- adjuntar -->
                                    <img class="cursor-pointer" draggable="false" src="./assets/img/adjuntar.svg"
                                        alt="adjuntar" (click)="this.abrirModalAdjuntar(archivo)">
                                    <label class="switch">
                                        <input type="checkbox"
                                        #checkboxServicio
                                        [checked]="marcarCheckBoxArchivo(archivo.id)"
                                        (change)="manejarCheckBox(checkboxServicio, archivo.id)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr *ngIf="archivos.length == 0">
                                <td colspan="6">
                                    <label class="d-flex justify-content-center fs-14px">
                                        No hay archivos
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="boton primario relleno" (click)="guardarArchivosEmpresa()">
            Guardar
        </button>
    </div>
</ng-template>
<app-popup #popup></app-popup>
<app-modal-adjuntar-manual #modalAdjuntar></app-modal-adjuntar-manual>
<app-modal-visualizar-manual #modalVisualizar></app-modal-visualizar-manual>