<div class="d-flex px-3 py-3 fondo-celeste" *ngIf="detallesArchivo">

  <div class="col-2">
    <div class="d-flex flex-column">
      <span class="fw-bold fs-12px">Cargado por:</span>
      <span class="fs-12px">Natalia Zuluaga</span>  
    </div>
  </div>

  <div class="col-2">
    <div class="d-flex flex-column">
      <span class="fw-bold fs-12px">Fecha y hora de carga:</span>
      <span class="fs-12px">{{ formatearFecha(detallesArchivo.fechaYHora) }}</span>  
    </div>
  </div>

  <div class="col-3">
    <div class="d-flex flex-column">
      <span>
        <span class="fw-bold fs-12px">Total registros validación de estructura: </span>
        <span class="fs-12px">{{ totalRegistrosValidacionEstructura }}</span>
      </span>
      <span>
        <span class="fw-bold fs-12px">Registros aprobados: </span>
        <span class="text-success fs-12px">0</span>
      </span>
      <span>
        <span class="fw-bold fs-12px">Novedades: </span>
        <span class="text-danger fs-12px">{{ totalRegistrosValidacionEstructura }}</span>
      </span>
    </div>
  </div>

  <div class="col-3">
    <div class="d-flex flex-column">
      <span>
        <span class="fw-bold fs-12px">Total registros validación de datos: </span>
        <span class="fs-12px">{{ totalRegistrosValidacionDatos }}</span>
      </span>
      <span>
        <span class="fw-bold fs-12px">Registros aprobados: </span>
        <span class="text-success fs-12px">0</span>
      </span>
      <span>
        <span class="fw-bold fs-12px">Novedades: </span>
        <span class="text-danger fs-12px">{{ totalRegistrosValidacionDatos }}</span>
      </span>
    </div>
  </div>

  <div class="col-2 d-flex flex-column justify-content-center align-items-end">
    <button class="boton primario delineado" (click)="descargarReporte()" *ngIf="!descargandoArchivo">
      Exportar datos
    </button>
    <button class="boton primario delineado" disabled *ngIf="descargandoArchivo">
      Descargando <app-loading></app-loading>
    </button>
  </div>

</div>