<div class="w-100 bg-white px-2 border-bottom">
    <ul class="tipos-reportes">
        <li class="tipo-reporte" [routerLink]="['/administrar', 'reportes', 'colocacion']" [routerLinkActive]="'activo'">
            Colocación
        </li>
        <li class="tipo-reporte" [routerLink]="['/administrar', 'reportes', 'saldos-cartera']" [routerLinkActive]="'activo'">
            Saldos cartera
        </li>
        <li class="tipo-reporte" [routerLink]="['/administrar', 'reportes', 'operaciones']" [routerLinkActive]="'activo'">
            Operaciones
        </li>
    </ul>
</div>
<router-outlet></router-outlet>