*{
    padding: 0;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
}
body{
    background-color: #F3F5F6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.fondo-gris{background-color: #B7B7B7;}
.fondo-naranja{background-color: var(--naranja-flamingo);}
.fondo-rojo{background-color: var(--rojo-flamingo);}

.cursor-pointer{
    cursor: pointer;
}

.flex-gap-5{gap: 5px}
.flex-gap-10{gap: 10px}
.flex-gap-20{gap: 20px}
.flex-gap-30{gap: 30px}
.flex-gap-40{gap: 40px}

.texto-primario{
  color: var(--azul);
}
.texto-naranja{
    color: var(--naranja-flamingo);
}
.texto-rojo{
    color: var(--rojo-flamingo);
}
.texto-negro{
  color: #4B4B4B
}
.texto-gris{
    color: var(--gris);
}
.fs-12px{
    font-size: 12px;
}
.fs-14px{
    font-size: 14px;
}
.fs-16px{
    font-size: 16px;
}
.fs-18px{
    font-size: 18px;
}
.fs-20px{
    font-size: 20px;
}
.fs-25px{
  font-size: 25px;
}
.fw-extrabold{
  font-weight: 1000;
}

.icono-20px{
    width: 20px;
    height: auto;
}
.icono-15px{
    width: 15px;
    height: auto;
}
.icono-10px{
    width: 10px;
    height: auto;
}

/* botones */

.boton{
  height: 40px;
  padding: 5px 17px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0px 0px 4px #9b9b9b;
}
.boton.primario.relleno{
  background-color: var(--azul);
  color: white;
}
.boton.primario.relleno:hover{
  background-color: var(--azul-oscuro);
  color: white;
}

.boton-flamingo{
    height: 40px;
    padding: 5px 17px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: bold;
}
.boton-flamingo.rojo.delineado{
    background-color: transparent;
    border: 1px solid var(--rojo-flamingo);
    color: var(--rojo-flamingo);
}
.boton-flamingo.naranja.delineado{
    background-color: transparent;
    border: 1px solid var(--naranja-flamingo);
    color: var(--naranja-flamingo);
}
.boton-flamingo.rojo.relleno{
    background-color: var(--rojo-flamingo);
    color: white;
}
.boton-flamingo.rojo.relleno:hover{
  background-color: var(--naranja-flamingo);
  color: white;
}
.boton-flamingo.naranja.relleno{
    background-color: var(--naranja-flamingo);
    color: white;
}
.boton-flamingo.naranja.relleno:hover{
  background-color: var(--rojo-flamingo);
  color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--rojo-flamingo);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--rojo-flamingo);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  label{
    font-size: 12px;
    font-weight: 600;
  }

  .copiar-portapapeles{
    position: relative;
    width: 12px;
    height: 12px;
  }
  .copiar-portapapeles::after, .copiar-portapapeles::before{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 1px solid var(--rojo-flamingo);
    cursor: pointer;
  }
  .copiar-portapapeles::before{
    top: 2px;
    right: 2px;
    background-color: white;
  }
  .copiar-portapapeles::after{
    top: -2px;
    right: -2px;
    background-color: white;
  }

.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 0 0 0 !important;
  padding: 0 !important;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}
.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0,100%);
  width: 500px !important;
  max-width: 100%;
  padding: 0 0 0 !important;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
}
.resumen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 200px;
  border: 5px solid #EDEFF0;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.resumen img{
  width: 50px;
  height: auto;
}

.validacion{
  width: 100%;
  color: var(--rojo-flamingo);
  font-size: 12px;
}

.borde-rojo{
  border: 1px solid red;
}