:root{
    --ancho-menu-lateral: 250px;
    --z-index-menu-lateral: 1000;
    --z-index-barra-navegacion: 990;
    --alto-barra-navegacion: 51px;
    --azul: #0096D8;
    --azul-oscuro: #202256;
    --gris: #4B4B4B;
}

/* .card{
    border-radius: 10px !important;
    box-shadow: 0px 0px 20px #00000029 !important;
    border: 1px solid #EDEFF0 !important;
}

.form-select {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gris) !important;
} */
