<app-selector-empresa *ngIf="usuario && !usuario.idEmpresa" (seleccion)="manejarCambioDeEmpresa($event.id!)"></app-selector-empresa>
<div class="d-flex flex-column flex-gap-30 px-4 pt-4" *ngIf="idEmpresa">
    <div class="row">
        <div class="col-12">
            <div class="card w-100">
                <div class="card-header fw-bold fs-14px mt-2">
                    Historial de novedades
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-center flex-gap-10">
                        <div class="max-width-200px">
                            <app-input-busqueda></app-input-busqueda>
                        </div>
                        <span class="total">Total: {{paginador.totalRegistros}}</span>
                        <div class="d-flex align-items-center ms-auto flex-gap-5">
                            <span class="fs-12px">Registros por página</span>
                            <span class="fs-12px">
                                <select
                                #selectLimiteRegistros
                                [ngModel]="paginador.limiteRegistros" class="form-select sm"
                                (change)="paginador.cambiarLimitePorPagina(+selectLimiteRegistros.value, idEmpresa)">
                                    <option
                                    *ngFor="let opcion of paginador.opcionesLimiteRegistros" 
                                    [value]="opcion">{{opcion}}</option>
                                </select>
                            </span>
                        </div>
                      </div>
                    <div class="container-table d-flex table-responsive">
                        <table class="table table-striped fs-12px">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha y hora</th>
                                    <th scope="col">Nombre del archivo</th>
                                    <th scope="col">Tipo de archivo</th>
                                    <th scope="col">Validación de estructura</th>
                                    <th scope="col">Validación de datos</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let archivoCargado of archivosCargados">
                                    <td>{{ archivoCargado.fechaYHora }}</td>
                                    <td> {{ archivoCargado.nombreArchivo }}</td>
                                    <td>{{ archivoCargado.nombreTipoArchivo }}</td>
                                    <td>
                                        <ng-container *ngIf="archivoCargado.estadoValidacionEstructura === 'Pasó' ">
                                            <img class="me-2" src="assets/img/exitoso.svg" alt="exitoso">
                                            <span class="fs-12px text-success fw-bold">Exitoso</span>
                                        </ng-container>
                                        
                                        <ng-container *ngIf="archivoCargado.estadoValidacionEstructura === 'Falló' ">
                                            <img class="me-2" src="assets/img/rechazo.svg" alt="falló">
                                            <span class="fs-12px text-danger fw-bold">Falló</span>
                                        </ng-container>

                                        <ng-container *ngIf="archivoCargado.estadoValidacionEstructura === 'Procesando' ">
                                            <img class="me-2" src="assets/img/procesando.svg" alt="exitoso">
                                            <span class="fs-12px text-info fw-bold">Procesando</span>
                                        </ng-container>

                                        <ng-container *ngIf="archivoCargado.estadoValidacionEstructura === 'Exitoso' ">
                                            <img class="me-2" src="assets/img/exitoso.svg" alt="exitoso">
                                            <span class="fs-12px text-success fw-bold">Exitoso</span>
                                        </ng-container>

                                        <ng-container *ngIf="archivoCargado.estadoValidacionEstructura === 'Exitoso, con alertas' ">
                                            <img class="me-2" src="assets/img/alerta.svg" alt="Exitoso, con alertas">
                                            <span class="fs-12px text-info fw-bold">Exitoso con alertas</span>
                                        </ng-container>
                                     
                                    </td>
                                    <td>
                                        <ng-container *ngIf="archivoCargado.estadoValidacion === 'Exitoso' ">
                                            <img class="me-2" src="assets/img/exitoso.svg" alt="exitoso">
                                            <span class="fs-12px text-success fw-bold">Exitoso</span>
                                        </ng-container>
                                        
                                        <ng-container *ngIf="archivoCargado.estadoValidacion === 'Falló' ">
                                            <img class="me-2" src="assets/img/rechazo.svg" alt="exitoso">
                                            <span class="fs-12px text-danger fw-bold">Falló</span>
                                        </ng-container>

                                        <ng-container *ngIf="archivoCargado.estadoValidacion === 'Procesando' ">
                                            <img class="me-2" src="assets/img/procesando.svg" alt="exitoso">
                                            <span class="fs-12px text-info fw-bold">Procesando</span>
                                        </ng-container>

                                        <ng-container *ngIf="archivoCargado.estadoValidacion === 'Exitoso, con alertas' ">
                                            <img class="me-2" src="assets/img/alerta.svg" alt="Exitoso, con alertas">
                                            <span class="fs-12px text-info fw-bold">Exitoso con alertas</span>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <label class="detalles fs-12px fw-semibold" (click)="abrirModalVerDetallesArchivo(archivoCargado.idArchivoCargado)">Ver detalles</label>
                                    </td>
                                </tr>
                                <tr *ngIf="archivosCargados.length === 0">
                                    <td colspan="6" class="text-center"> No hay cargas registradas para esta entidad.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end ">
                    <!-- [collectionSize]="this.total" [(page)]="pagina" [pageSize]="limite" (pageChange)="this.cambioDePagina($event)" -->
                    <ngb-pagination
                    *ngIf="paginador.totalRegistros" 
                    class="mt-3"
                    [collectionSize]="paginador.totalRegistros"
                    [page]="paginador.paginaActual"
                    [pageSize]="paginador.limiteRegistros"
                    (pageChange)="paginador.cambiarPagina($event, idEmpresa)"
                    [maxSize]="7">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-detalles-archivo #modalVerDetalles></app-modal-detalles-archivo>