<h1 class="fs-18px fw-bold text-center mb-4">Bienvenido al sistema de administración aliados flamingo</h1>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body texto-negro">
                <h2 class="texto-naranja fs-20px fw-semibold text-center">Tráfico Clientes</h2>
                <div class="d-flex flex-gap-10 justify-content-between mb-3">
                    <div class="resumen">
                        <h3 class="fs-14px fw-bold text-center">
                            Total clientes redirigidos con ayuda de un asesor
                        </h3>
                        <img src="assets/img/redirecciones-asesor.svg" alt="redirecciones-asesor">
                        <span class="estadistica fs-25px fw-extrabold">625</span>
                    </div>
                    <div class="resumen">
                        <h3 class="fs-14px fw-bold text-center">
                            Total clientes redirigidos a aliados
                        </h3>
                        <img src="assets/img/redirecciones.svg" alt="redirecciones-asesor">
                        <span class="estadistica fs-25px fw-extrabold">625</span>
                    </div>
                    <div class="resumen">
                        <h3 class="fs-14px fw-bold text-center">
                            Total clientes redirigidos que navegan autonomamente
                        </h3>
                        <img src="assets/img/redirecciones-autonomas.svg" alt="redirecciones-asesor">
                        <span class="estadistica fs-25px fw-extrabold">625</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="boton-flamingo rojo delineado" [routerLink]="['/administrar', 'trafico', 'detalle']">Ver informe completo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card texto-negro">
            <div class="card-body">
                <h3 class="texto-naranja fs-20px fw-semibold text-center">Ventas</h3>
                <div class="d-flex justify-content-center mb-3">
                    <div class="resumen">
                        <h3 class="fs-14px fw-bold text-center">
                            Ventas totales
                        </h3>
                        <img src="assets/img/ventas.svg" alt="redirecciones-asesor">
                        <span class="estadistica fs-25px fw-extrabold">625</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="boton-flamingo rojo delineado" [routerLink]="['/administrar', 'trafico', 'detalle']">Ver informe completo</button>
                </div>
            </div>
        </div>
    </div>
</div>