<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title fs-14px  fw-bolder">Crear entidad <span class="validacion-span">- Todos los campos son
                obligatorios</span></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="this.formulario" class="d-flex flex-column flex-gap-10">
            <div class="row">
                <div class="col-sm-3">
                    <fieldset>
                        <label class="fw-semibold fs-12px">NIT</label>
                        <input class="form-control input" id="nit" name="nit" formControlName="nit" required>

                        <span class="validacion" *ngIf="this.formulario.controls['nit'].invalid &&
                            this.formulario.controls['nit'].dirty">
                            NIT requerido.
                        </span>
                    </fieldset>
                </div>
                <div class="col-sm-5">
                    <fieldset>
                        <label class="fw-semibold fs-12px">Nombre de la entidad</label>
                        <input type="text" class="form-control" formControlName="nombre">
                        <span class="validacion" *ngIf="this.formulario.controls['nombre'].invalid &&
                            this.formulario.controls['nombre'].dirty">
                            Nombre requerido.
                        </span>
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    <fieldset>
                        <label class="fw-semibold fs-12px">Convenio</label>
                        <input type="text" class="form-control" formControlName="convenio">
                        <span class="validacion" *ngIf="this.formulario.controls['convenio'].invalid &&
                            this.formulario.controls['convenio'].dirty">
                            Convenio requerido.
                        </span>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <fieldset>
                        <label class="fw-semibold fs-12px">Logo entidad</label>
                        <app-input-archivo formControlName="logo"></app-input-archivo>
                        <span class="validacion" *ngIf="this.formulario.controls['logo'].invalid &&
                                                        this.formulario.controls['logo'].dirty">
                            Logo requerido.
                        </span>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="boton primario relleno" (click)="crearEmpresa()">
            <img src="assets/img/+.svg" alt="" >
            Crear Empresa
        </button>
    </div>
</ng-template>
<app-popup #popup></app-popup>