<aside class="menu-lateral p-3 d-flex flex-column"
  [ngClass]="{'abierto': this.desplegado, 'cerrado': !this.desplegado}">
  <span class="material-symbols-outlined" id="cerrar-menu-lateral" (click)="this.cerrar()">
    close
  </span>
  <div class="logo d-flex justify-content-start mb-4">
    <img class="pointer-events-none cursor-pointer" src="assets/img/logo-novafianza-sistema.svg" alt="">
  </div>
  <hr>
  <div class="logo d-flex justify-content-start">
    <img class="pointer-events-none cursor-pointer" src="assets/img/ejemplo-logo-empresa/company-pequeño.png" alt="">
  </div>
  <div *ngIf="this.roles._modulos">
    <div class="d-flex flex-column" *ngFor="let module of this.roles._modulos">
      <hr>
      <div class="d-flex click" routerLink="/administrar/{{module._ruta}}">
        <span class="me-2">
          <img class="icono-20px" [src]="module._icono" alt="">
        </span>
        <span class="fs-14px fw-semibold">{{module._nombre}}</span>
      </div>
    </div>
  </div>
</aside>
