<div class="filtros bg-white w-100">
    <div class="row px-4 py-3 w-100">
        <div class="col-4">
            <fieldset class="filtro">
                <label for="">Servicio</label>
                <select name="" id="" class="form-select">
                    <option value="">Elije un servicio</option>
                </select>
            </fieldset>
        </div>
        <div class="col-2">
            <fieldset class="filtro">
                <label for="">Fecha inicial <br> <small>Mes</small></label>
                <select name="" id="" class="form-select">
                    <option value="">Enero</option>
                </select>
            </fieldset>
        </div>

        <div class="col-2">
            <fieldset class="filtro">
                <label for=""><small>Año</small></label>
                <select name="" id="" class="form-select">
                    <option value="">2022</option>
                </select>
            </fieldset>
        </div>
        <div class="col-2">
            <fieldset class="filtro">
                <label for="">Fecha final <br> <small>Mes</small></label>
                <select name="" id="" class="form-select">
                    <option value="">Enero</option>
                </select>
            </fieldset>
        </div>

        <div class="col-2">
            <fieldset class="filtro">
                <label for=""><small>Año</small></label>
                <select name="" id="" class="form-select">
                    <option value="">2022</option>
                </select>
            </fieldset>
        </div>
    </div>
    <div class="w-100 bg-white px-4 py-3 border-top d-flex justify-content-end">
        <button class="boton primario sin-borde me-2">
            Limpiar filtros
        </button>
        <button class="boton primario relleno">
            Aplicar los filtros
        </button>
    </div>
</div>
