.fondo{
  background-color: #ffff;
}

label{
  font-family: 'Poppins';
}

.input{
  width: 310px;
}
.alert{
  max-width: 641px;
  border: 2px solid var(--azul-oscuro);
}

#medio_pago{
  margin-right:20px;
}

.titulo{
  display:flex;
  justify-content: center;
  color: #202256;
}

.contacto{
  color: #38c0ff;
}

.warning{
  color: #EA990A;
}

.danger{
  color: #BC0000;
}


@media screen and (max-width: 668px){
  .img-fluid{
    max-width:80%;
  }

  .input{
    width: 300px;
  }
}
@media screen and (min-width: 410px){
  .fondo{
    display: flex;
    justify-content: center;
  }
}

