<div class="d-flex flex-column flex-gap-30">
  <div class="d-flex justify-content-end">
    <button type="button" class="boton-flamingo rojo relleno" (click)="this.abrirModalRegistrarEmpresa()">
      <img src="assets/img/+.svg" class="me-1" /> Registrar Empresa
    </button>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card w-100">
        <div class="card-header texto-naranja fw-bold fs-14px">
          Lista de Empresas
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>
              <span class="texto-gris fw-bolder fs-14px">Registros totales:</span>
              <span class="texto-naranja fs-12px fw-bold"style="margin-left: 5px">{{this.total}}</span>
            </div>
            <div class="d-flex justify-self-end flex-gap-5 ms-auto mb-3">
              <span class="texto-gris fs-12px fw-bold d-flex align-items-center"
                >ver</span
              >
              <span class="texto-gris fs-12px fw-bold align-items-center">
                <select #porPagina class="form-select sm" name="" id="" (change)="this.cambiarlimitePaginado(porPagina.value)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </span>
              <span class="texto-gris fs-12px fw-bold d-flex align-items-center"
                >registros</span
              >
            </div>
          </div>
          <div class="container-table d-flex table-responsive">
            <table class="table border fs-12px">
              <thead>
                <tr>
                  <th scope="col">Nombre de la empresa</th>
                  <th scope="col">NIT</th>
                  <th scope="col">Activo</th>
                  <th scope="col">Fecha de creación</th>
                  <th scope="col" colspan="2">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empresa of empresas; let index = index">
                  <td>{{ empresa.nombre }}</td>
                  <td>{{ empresa.nit }}</td>
                  <td>
                    <label class="switch">
                      <input type="checkbox" [checked]="empresa.estado" (change)="this.cambiarEstadoEmpresa(index)">
                      <span class="slider round"></span>
                    </label>
                  </td>
                  <td>{{ empresa.created_at }}</td>
                  <td>
                    <span class="texto-rojo fw-bolder" type="button" (click)="abrirModalVer(empresa)">Ver</span>
                  </td>
                  <td>
                    <span class="texto-rojo fw-bolder" type="button" (click)="abrirModalActualizar(empresa)">Editar</span>
                  </td>
                </tr>
                <tr *ngIf="empresas.length == 0">
                  <td colspan="6">
                    <label class="d-flex justify-content-center fs-14px">
                      Aun no hay empresas registradas
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination [collectionSize]="this.total" [(page)]="pagina" [pageSize]="limite" (pageChange)="this.cambioDePagina($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-registrar-empresa #modalRegistrarEmpresa (seHaRegistradoUnaEmpresa)="this.refrescarListaDeEmpresas()"></app-modal-registrar-empresa>
<app-modal-ver-empresa #modalverEmpresa></app-modal-ver-empresa>
<app-modal-actualizar-empresa (seHaActualizadoUnaEmpresa)="this.refrescarListaDeEmpresas()"
  #modalActualizarEmpresa
></app-modal-actualizar-empresa>

<swal #popupExitoso></swal>
<swal #fallido></swal>

<app-popup #popup></app-popup>
