<ng-template #modalverEmpresa let-modal>
  <div class="modal-header">
    <h4 class="modal-title fs-14px  fw-bolder texto-naranja">Ver Empresa</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="empresa">
    <div class="d-flex flex-gap-5 align-items-center">
      <span class="fs-14px">Empresa: </span>
      <span class="fs-14px fw-bold">{{empresa.nombre}}</span>
    </div><br />
    <form [formGroup]="this.formulario" class="d-flex flex-column flex-gap-10">
      <div class="row">
        <div class="col-5">
          <fieldset>
            <label for="">Nombre de la empresa</label>
            <input type="text" class="form-control" formControlName="nombre" readonly="true">
          </fieldset>
        </div>
        <div class="col-5">
          <fieldset>
            <label for="">Nit de la empresa</label>
            <input type="number" class="form-control" formControlName="nit" readonly="true">
          </fieldset>
        </div>
        <div class="col-5">
          <fieldset>
            <label for="">Estado</label>
            <input type="text" class="form-control" formControlName="Estado" readonly="true">
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="boton-flamingo naranja relleno" (click)="modal.close('Close click')">Confirmar</button>
  </div>
</ng-template>
